body{
    font-family: 'Times New Roman', Times, serif;
   background-color: white;
    
}
#color{
    background-color:  rgb(8, 56, 56);
    margin-top:10px ;
}
#curriculum_Vitae{
    font-size: 50px;
    background-color: rgb(11, 95, 95);
    color: white;
    text-align: center;
    margin: 10px 0px 15px ;
    padding: 10px;
    text-shadow: 2px 3px 3px white;
}
#name{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 3px 3px white;
    background-color: rgb(7, 53, 53);
    color:white;
    border: 0px solid ;
    text-align: center;
    padding: 10px;
    margin: 0 0px 15px;
}
.contact{
  background-color: white;
    color: rgb(8, 56, 56) ;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0px 10px 0px 80px;
    box-shadow: 5px 5px 0px  rgb(0, 17, 17) ;
    text-shadow: 2px 3px 3px rgb(8, 56, 56) ;
}

.contact_us{
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding: 0px 50px;
}
.horizontal_line{
    margin: 0px;
}
.objective{
    background-color: white;
      color: rgb(8, 56, 56) ;
      width: 200px;
      height: 40px;
      margin: 0;
      padding: 0px 20px 0px 70px;
      text-shadow: 2px 3px 3px rgb(8, 56, 56) ;
}
.objective1{
    color: white;
    padding: 0px 20px 0px 50px;
}
.personal_information{
    background-color: white;
    color: rgb(8, 56, 56) ;
    width: 330px;
    height: 40px;
    margin: 0;
    padding: 0px 0px 0px 10px;
    text-shadow: 2px 3px 3px rgb(8, 56, 56) ;
      
}
.personal_information1{
    color: white;
    padding: 0px 20px 0px 70px
}
.education{
    background-color: white;
    color: rgb(8, 56, 56) ;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0px 20px 0px 70px;
    text-shadow: 2px 3px 3px rgb(8, 56, 56) ;

}
.education1{
    color: white;
    list-style: none;
    padding: 0px 50px;
}
a{
    color: white;
    text-decoration: none;
}
.skills{
    background-color: white;
    color: rgb(8, 56, 56) ;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0px 20px 0px 70px;
    text-shadow: 2px 3px 3px rgb(8, 56, 56) ;
}
.skills1{
    color: white;
    list-style: none;
    padding: 0px 50px;
}


.experience{
    background-color: white;
    color: rgb(8, 56, 56) ;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0px 20px 0px 70px;
    text-shadow: 2px 3px 3px rgb(8, 56, 56) ;   
}
.experience1{
    color: white;
    list-style: none;
    padding: 0px 50px;

}
.languages{
    background-color: white;
    color: rgb(8, 56, 56) ;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0px 20px 0px 70px;
    text-shadow: 2px 3px 3px rgb(8, 56, 56) ;
}
.languages1{
    color: white;
    list-style: none;
    padding: 0px 50px 20px;
}






